
.header 
  .header__box
    .header__box__title
      =image_tag("doctor.png",width:"50",height:"50",class:"header__box__title__img")
      .header__box__title__name
        =link_to root_path,class:"header__box__title__name__btn" do
          D.Takakusaki
    .header__box__icon
      .header__box__icon__twitter
        = link_to "https://twitter.com/", class: "header__box__icon__btn" do
          = icon('fab', 'twitter')
      .header__box__icon__instagram
        = link_to "https://www.instagram.com/", class: "header__box__icon__btn" do
          = icon('fab', 'instagram')

  .header__menu
    .header__menu__about
      =link_to new_post_path,class:"header__menu__about__btn" do
        Me
    .header__menu__works
      =link_to works_path,class:"header__menu__about__btn" do
        Works
    .header__menu__blog
      =link_to new_work_path(id:1),class:"header__menu__about__btn" do
        Blogs
    .header__menu__contact
      =link_to edit_post_path(id:1),class:"header__menu__about__btn" do
        Contact


.me
  .me__word
    Contact


.footer1
  .footer1__work
    @D.Takakusaki ALL rights reserved.
