
.header 
  .header__box
    .header__box__title
      =image_tag("doctor.png",width:"50",height:"50",class:"header__box__title__img")
      .header__box__title__name
        =link_to root_path,class:"header__box__title__name__btn" do
          D.Takakusaki
    .header__box__icon
      .header__box__icon__twitter
        = link_to "https://twitter.com/", class: "header__box__icon__btn" do
          = icon('fab', 'twitter')
      .header__box__icon__instagram
        = link_to "https://www.instagram.com/", class: "header__box__icon__btn" do
          = icon('fab', 'instagram')

  .header__menu
    .header__menu__about
      =link_to new_post_path,class:"header__menu__about__btn" do
        Me
    .header__menu__works
      =link_to works_path,class:"header__menu__about__btn" do
        Works
    .header__menu__blog
      =link_to new_work_path(id:1),class:"header__menu__about__btn" do
        Blogs
    .header__menu__contact
      =link_to contacts_new_path,class:"header__menu__about__btn" do
        Contact

%link{:href => "https://fonts.googleapis.com/css?family=Varela", :rel => "stylesheet", :type => "text/css"}/
.glitch{"data-text" => "Daichi's Site"} Daichi's Site


.service.effect-fade
  .service__title
    Service
  .service__box
    .service__box__direction
      .service__box__direction__eng
        Direction
      .service__box__direction__icon
        =icon("fas","pencil-alt")
      .service__box__direction__explain
        お客様の要望をヒアリングし、現状の問題点を洗い出し、効果的なプランを作成いたします。制作ではデザインに入る前の事前の準備が特に重要になります。何が必要で何が必要でないのかを判断し、費用対効果の高いWebサイトを作るための土台を作ります。
    .service__box__design
      .service__box__design__eng
        Design
      .service__box__design__icon
        =icon("fas","palette")
      .service__box__design__explain
        ヒアリングに基づいたプランに沿って、デザインを作成いたします。人の使うものであることを常に意識して、使う人が迷わない、目的を達成できるデザインを心がけています。インターフェースの重要性が増す中でデザインの役割を理解し、そのプランに最適な提案をさせていただきます。
    .service__box__coding
      .service__box__coding__eng
        Coding
      .service__box__coding__icon
        =icon("fas","laptop")
      .service__box__coding__explain
        デザインの意図を理解し、動きや効果を適切に使用することでWebサイトの仕上がりは大きく変わります。スマートフォンサイト、ワードプレスを使用した更新性の高いサイト、Javascriptを使用した動きのあるサイトなど、様々なサイトのコーディングを行っております。
    
.work.effect-fade
  .work__title
    Works
  .work__word
    TECH:EXPERT's WORK
  .work__box
    .work__box__box1
      Pictweet
      .work__box__box1__img
        =link_to image_tag("pictweet.png", width:"400",height:"300"),"https://picturetweetapp.herokuapp.com/"
    .work__box__box2
      Chat-Space
      .work__box__box2__img
        =link_to image_tag("chatspace.png", width:"400",height:"300"),"http://52.199.55.128/"
    .work__box__box3
      Furima-app
      .work__box__box3__img
        =link_to image_tag("furima.png", width:"400",height:"300"),"http://3.115.170.111/"

.work.effect-fade
  .work__word
    PERSONAL WORK
  .work__box
    .work__box__box3
      Filmce
      .work__box__box3__img
        =link_to image_tag("filmce.png", width:"400",height:"300"),"http://18.178.217.176/"

.skills.effect-fade
  .skills__title
    Skills
  .skills__box
    .skills__box__app
      =image_tag("https://cdn.svgporn.com/logos/html-5.svg",width:"40",height:"40")
      .skills__box__app__bar
        .bar.learning{"data-skill" => "html"}
          .skills__box__app__bar__1
            80%

    .skills__box__app
      =image_tag("https://cdn.svgporn.com/logos/haml.svg",width:"40",height:"40")
      .skills__box__app__bar
        .bar.haml.haml-1{"data-skill" => "haml"}
          .skills__box__app__bar__1
            80%

    .skills__box__app
      =image_tag("https://cdn.svgporn.com/logos/css-3.svg",width:"40",height:"40")
      .skills__box__app__bar
        .bar.css.css-1{"data-skill" => "CSS"}
          .skills__box__app__bar__1
            80%

    .skills__box__app
      =image_tag("https://cdn.svgporn.com/logos/ruby.svg",width:"40",height:"40")
      .skills__box__app__bar
        .bar.ruby.ruby-1{"data-skill" => "ruby"}
          .skills__box__app__bar__1
            70%

    .skills__box__app
      =image_tag("https://cdn.svgporn.com/logos/rails.svg",width:"40",height:"40")
      .skills__box__app__bar
        .bar.rails.rails-1{"data-skill" => "Rails"}
          .skills__box__app__bar__1
            60%

    .skills__box__app
      =image_tag("https://cdn.svgporn.com/logos/javascript.svg",width:"40",height:"40")
      .skills__box__app__bar
        .bar.js.js-1{"data-skill" => "javascript"}
          .skills__box__app__bar__1
            40%

    .skills__box__app
      =image_tag("https://cdn.svgporn.com/logos/jquery.svg",width:"40",height:"40")
      .skills__box__app__bar
        .bar.jq.jq-1{"data-skill" => "jQuery"}
          .skills__box__app__bar__1
            40%

    .skills__box__app
      =image_tag("https://cdn.svgporn.com/logos/swift.svg",width:"40",height:"40")
      .skills__box__app__bar
        .bar.swift.swift-1{"data-skill" => "Swift"}
          .skills__box__app__bar__1
            10%

    .skills__box__app
      =image_tag("https://cdn.svgporn.com/logos/mysql.svg",width:"40",height:"40")
      .skills__box__app__bar
        .bar.mysql.mysql-1{"data-skill" => "mysql"}
          .skills__box__app__bar__1
            60%

    .skills__box__app
      =image_tag("https://cdn.svgporn.com/logos/aws.svg",width:"40",height:"40")
      .skills__box__app__bar
        .bar.front.expert{"data-skill" => "AWS"}
          .skills__box__app__bar__1
            80%

    .skills__box__app
      =image_tag("https://cdn.svgporn.com/logos/aws-ec2.svg",width:"40",height:"40")
      .skills__box__app__bar
        .bar.front.expert{"data-skill" => "EC2"}
          .skills__box__app__bar__1
            80%

    .skills__box__app
      =image_tag("https://cdn.svgporn.com/logos/aws-s3.svg",width:"40",height:"40")
      .skills__box__app__bar
        .bar.front.expert{"data-skill" => "S3"}
          .skills__box__app__bar__1
            80%

    .skills__box__app
      =image_tag("https://cdn.svgporn.com/logos/capistrano.svg",width:"40",height:"40")
      .skills__box__app__bar
        .bar.cap.cap-1{"data-skill" => "Capistrano"}
          .skills__box__app__bar__1
            60%

    .skills__box__app
      =image_tag("https://cdn.svgporn.com/logos/heroku-icon.svg",width:"40",height:"40")
      .skills__box__app__bar
        .bar.hk.hk-1{"data-skill" => "Heroku"}
          .skills__box__app__bar__1
            50%

    .skills__box__app
      =image_tag("https://cdn.svgporn.com/logos/docker-icon.svg",width:"40",height:"40")
      .skills__box__app__bar
        .bar.dk.dk-1{"data-skill" => "Docker"}
          .skills__box__app__bar__1
            10%

.footer
  .footer__work
    @D.Takakusaki ALL rights reserved.



-# -# キラキラする奴
-# -# %canvas.background
-# -# %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.2/particles.min.js"}

-# -# アイアンマンの胸
-# -# .bluelight
-#   %a{:href => "#"} HOVER

-# %link{:href => "https://fonts.googleapis.com/css?family=Varela", :rel => "stylesheet", :type => "text/css"}/
-# .glitch{"data-text" => "GLITCH"} GLITCH
