
.header 
  .header__box
    .header__box__title
      =image_tag("doctor.png",width:"50",height:"50",class:"header__box__title__img")
      .header__box__title__name
        =link_to root_path,class:"header__box__title__name__btn" do
          D.Takakusaki
    .header__box__icon
      .header__box__icon__twitter
        = link_to "https://twitter.com/", class: "header__box__icon__btn" do
          = icon('fab', 'twitter')
      .header__box__icon__instagram
        = link_to "https://www.instagram.com/", class: "header__box__icon__btn" do
          = icon('fab', 'instagram')

  .header__menu
    .header__menu__about
      =link_to new_post_path,class:"header__menu__about__btn" do
        About
    .header__menu__works
      Works
    .header__menu__blog
      Blogs
    .header__menu__contact
      Contact

.container
  .container__box
    Daichi Takakusaki
    %br
    web designer
    %p
      %a{:href => "https://marcbruederlin.github.io/particles.js/"} Get in touch
  
.work
  .work__word
    TECH:EXPERT's WORK
  .work__box
    .work__box__box1
      Pictweet
      .work__box__box1__img
        =link_to image_tag("pictweet.png", width:"400",height:"300")
    .work__box__box2
      Chat-Space
      .work__box__box2__img
        =link_to image_tag("chatspace.png", width:"400",height:"300"),"http://52.199.55.128/"
    .work__box__box3
      Furima-app
      .work__box__box3__img
        =link_to image_tag("furima.png", width:"400",height:"300"),"http://3.115.170.111/"




.work
  .work__word
    PERSONAL WORK
  .work__box
    .work__box__box3
      Filmce
      .work__box__box3__img
        =link_to image_tag("filmce.png", width:"400",height:"300"),"http://18.178.217.176/"

.footer
  .footer__work
    @D.Takakusaki ALL rights reserved.

%canvas.background
%script{:src => "https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.2/particles.min.js"}
