-# .header
-#   .header__name
-#     Daichi Takakusaki
-#   .header__kanji
-#     web designer
-#   .header__line
-#   .header__btn 
-#     get in touch

-#   .header__mywork
-#     .header__mywork__box1
-#       Filmce
-#     .header__mywork__box2
-#       Chat-space
-#     .header__mywork__box3
-#       Furima-app

-# .footer

.container
  .box
    %h1 particles.js Demo
    %p
      %a{:href => "https://marcbruederlin.github.io/particles.js/"} Website
%canvas.background
%script{:src => "https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.2/particles.min.js"}
